body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap'); /* font for the Header*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap'); /* font for team description*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"); /* font for team description*/


/*@font-face{
  font-family: 'henkel-black';
  src: url("../public/HENKEL-GT-FLEXA-BLACK.TTF");
}

.black{
  font-family: 'henkel-black';
}*/

@font-face {
  font-family: 'henkel-black';
  src: url('../public/HENKEL-GT-FLEXA-BLACK.TTF') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'henkel-bold';
  src: url('../public/HENKEL-GT-FLEXA-BOLD.TTF') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'henkel-thin-italic';
  src: url('../public/HENKEL-GT-FLEXA-THIN-ITALIC.TTF') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'henkel-light';
  src: url('../public/HENKEL-GT-FLEXA-LIGHT.TTF') format('woff2');
  font-weight: normal;
  font-style: normal;
}